[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
chromedriver-autoinstaller = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
mysqlclient = "*"
pyjwt = "*"
python-dotenv = "*"
keras = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
opencv-python = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.11"
